@import "config";

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: $black;
  color: $white;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}

ul
{
  list-style: none;
}

h1, h2, h3, h4, h5, p {
  letter-spacing: 0.5px;
}

p {
  font-family: Avenir Light;
  font-size: 16px;
}

h1
{
  font-family: Avenir Black;
  font-size: 40px;
  line-height: 50px;
}

h2
{
  font-family: Poppins Extra Light;
  font-weight: normal;
  font-size: 16px;
}

h3
{
  font-family: Avenir Book;
  font-size: 16px;
}

.biography p
{
  font-family: Avenir Book;
  font-size: 25px;
  font-weight: 500;
}

.footer p {
  font-family: Poppins Extra Light;
  font-size: 16px;
}

a
{
  color: $white;
  text-decoration: none;
  font-family: Poppins Extra Light;

  &:hover
  {
    text-decoration: line-through $alt-color 1px;
  }
}

i
{
  font-size: 16px;

  &:hover
  {
    color: $alt-color;
  }
}
