@font-face {
  font-family: 'Poppins Extra Light';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Extra Light'), url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Regular'), url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Regular'), url('../fonts/Avenir/Avenir-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Black';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Black'), url('../fonts/Avenir/Avenir-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Book';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Book'), url('../fonts/Avenir/Avenir-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Heavy'), url('../fonts/Avenir/Avenir-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Light';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Light'), url('../fonts/Avenir/Avenir-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Regular'), url('../fonts/Avenir/Avenir-Regular.ttf') format('truetype');
}