@font-face
{
  font-family: 'SupplyMono-Ultralight';
  src: url('../fonts/PPSupplyMono-Ultralight.otf');
}

@font-face
{
  font-family: 'SupplyMono-Regular';
  src: url('../fonts/PPSupplyMono-Regular.otf');
}
