@font-face {
  font-family: 'Acumin Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro'), url('../fonts/Acumin/Acumin-RPro.woff') format('woff');
}
  
@font-face {
  font-family: 'Poppins Extra Light';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Extra Light'), url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}
  
@font-face {
  font-family: 'Acumin Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro Bold'), url('../fonts/Acumin/Acumin-BdPro.woff') format('woff');
}