// Tablets & smaller
@media(max-width: 920px)
{
  body
  {
    background: $dark-color;
  }

  .container
  {
    &-resume
    {
      grid-template-columns: 1fr;
      padding: 1rem;
      grid-gap: 0;

      .section
      {
        padding: 0.5;
        display: block;

        &-b,
        &-c
        {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }

      .item
      {
        padding-top: 20px;

        &-8
        {
          padding-top: 87px;
        }
        &-9
        {
          margin-bottom: 70px;
        }
      }
    }
  }

  // Smartphones
  @media(max-width: 500px)
  {
    .container
    {
      &-nav
      {
        height: 7rem;
        padding-top: 1rem;

        ul,
        li
        {
          padding: 1rem;
        }
      }
      &-resume
      {
        grid-template-columns: 1fr;
        padding: 1rem;
        grid-gap: 0;

        .section
        {
          padding: 0.5;
          display: block;
        }

        h1
        {
          font-size: 52pt;

          &:after
          {
            display: none;
          }
        }

        p
        {
          text-align: left;
        }

        h2,
        h3,
        h4
        {
          margin-bottom: auto;
        }

        &-3
        {
          h4
          {
            font-size: 15pt;
          }
        }

        &-3,
        &-6
        {
          border-bottom: $alt-color 1px solid;
          padding-bottom: 1rem;
        }
        &-8
        {
          padding-top: 20px;
        }
      }
    }
  }
}