// Tablets & smaller
@media(max-width: 920px)
{
  .container
  {
    width: 100%;
    flex-direction: column;
    grid-template-columns: repeat(1, auto);
    background: $bg-image repeat center right / cover;
  }

  .item
  {
    // border: #ccc 1px solid;
    text-align: left;
    align-items: center;
    line-height: normal;

    &-3
    {
      li
      {
        display: inline;
      }
    }

    &-4
    {
      grid-column: 1 / span 2;
      text-align: justify;
    }
    &-8
    {
      margin-top: 65px;
      grid-column: 2 / span 1;
    }
  }
}

@media(max-width: 500px)
{
  .container
  {
    width: 100%;
    grid-template-columns: repeat(1, auto);
  }
  .item
  {
    grid-column: 1;
  }
}
