#container-nav {
  max-width: $website-width;
  padding: 1.5rem;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.container-resume {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
}
