.container
{
  &-nav
  {
    max-width: $website-width;
    padding-top: 3rem;
    margin: auto;
    overflow: hidden;
    text-align: center;
    border: #ccc 1px solid;

    ul,
    li
    {
      text-align: center;
      justify-content: center;
      padding: 0.5rem 3rem;
    }
  }

  &-resume
  {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1.5fr 2fr 1fr;
    align-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
    border: #ccc 1px solid;

  }
}

.section
{
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  border: #ccc 1px solid;

  &-c
  {
    h4
    {
      margin-bottom: 20px;
    }
  }
}

.item
{
  border: #ccc 1px solid;
  text-align: left;
  align-items: center;
  line-height: normal;

  &-3
  {
    li
    {
      display: inline;
    }
  }

  &-4
  {
    grid-column: 1 / span 2;
    text-align: justify;
  }

  .expirience
  {
    border: #ccc 1px solid;
    grid-gap: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
