@import "config";
@import "utilities";

// General Styles
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background: $bg-image no-repeat center right / cover;
  height: 100vh;
  color: $light-color;
}

a
{
  color: $light-color;
  text-decoration: none;
}

ul
{
  list-style: none;
}

p
{
  font-size: 15pt;
  font-weight: 500;
}

h1
{
  font-size: 56pt;
  font-weight: 500;
  display: flex;
  flex-direction: row;

  &:after
  {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
    color: $alt-color;
  }
}

h2
{
  font-size: 32pt;
  font-weight: 400;
  margin-bottom: 20px;
}

h3
{
  font-size: 22pt;
  font-weight: 400;
}

h4
{
  font-size: 14pt;
  font-weight: 600;
}

h5
{
  font-size: 14pt;
  font-weight: 100;
}

img
{
  width: 100%;
}

// Logo
#logo
{
  height: 50px;
  width: 70px;
  color: $light-color;
  text-transform: none;
}

// Main nav
#main-nav
{
  ul
  {
    display: flex;
  }

  li
  {
    padding: 1rem 3rem;
  }

  a
  {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover
    {
      border-color: $alt-color;
    }

    &.current
    {
      border-color: $alt-color;
    }
  }
}

@media(max-width: 500px)
{
  .container
  {
    grid-template-columns: repeat(1, auto);
  }
  [class*="item"]
  {
    grid-column: 1;
  }
}
