@import "config";
@import "utilities";
@import "fonts";

// General Styles
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background: $bg-image no-repeat center right / cover;
  color: $light-color;
  word-spacing: -5px;
}

img
{
  width: 100%;
  height: auto;
}

%hover-shared
{
  text-decoration: none;
  color: $light-color;
  padding-bottom: 0.5rem;
  transition: border-color 1s;

  &:hover
  {
    border-color: $alt-color;
  }

  &.current
  {
    border-color: $alt-color;
  }
}

a
{
  color: $light-color;
  text-decoration: none;

  &:hover
  {
    text-decoration: line-through $alt-color 1px;
  }
}

ul
{
  list-style: none;
  font-family: SupplyMono-Ultralight;
}

p
{
  font-family: SupplyMono-Regular;
  font-size: 1.1rem;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: -1.2px;
}

h1
{
  font-family: SupplyMono-Ultralight;
  font-size: 4rem;
  display: flex;

  &:after
  {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
    color: $alt-color;
  }
}

h2,
h3
{
  font-family: SupplyMono-Ultralight;
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

h4,
h5
{
  font-family: SupplyMono-Ultralight;
  font-size: 1.2rem;
  font-weight: 600;
}

h5
{
  font-weight: 100;
}


@import 'media';