/* General Styles */
@import "../config";

#contact-page {

  .contact-grid {
    height: auto;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding-top: 2rem;
  }
  
  .contact-details a {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .contact-details a i {
    margin-right: 5px; /* Adjust spacing between icon and text */
  }

  .contact-details {
    margin-top: 20px;
  }


  .contact-form label {
    font-family: Avenir Book;
    line-height: 20px;
    font-size: 20px;
    color: $white;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"] {
    background-color: $black;
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 22px;
    color: $white;
    border: 1px solid $white;
  }

  .contact-form input[type="text"]:focus,
  .contact-form input[type="email"]:focus,
  .contact-form input[type="text"]:not(:focus):valid,
  .contact-form input[type="email"]:not(:focus):valid {
    outline: none;
    border: 1px dashed $white; /* Change border style to dashed when focused */
}


  .contact-form button[type="submit"] {
    background-color: $alt-color;
    color: $black;
    border: none;
    padding: 13px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .contact-form button[type="submit"]:hover {
    background-color: $alt-color;
  }
}