#projects-page {

  .projects-grid {
    height: auto;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding-top: 2rem;
  }

  a {
    text-decoration: none;
  }

  .project-card {
    border: .1px solid #323232;
    max-width: 350px;
    padding: 15px;
    height: 100%;
  }

  .project-card img {
    max-width: 100%;
  }
  
  .project-title {
    margin-bottom: 10px;
  }
  
  .project-intro {
    margin-bottom: 10px;
  }

}