#services-page {

  .services-grid {
    height: auto;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding-top: 1.5rem;
    justify-content: center;
  }

}





