#skills-page
{

  .skills-grid
  {
    height: auto;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding-top: 1.5rem;
    justify-content: center;
  }

  .tag {
    display: inline-block;
    padding: 2px 7px;
    border-radius: 6px;
    color: #fff;
    background-color: #353442;
    text-align: center;
    font-family: Avenir Book;
    font-size: 11px;
    letter-spacing: 0.5px;
    margin: 2px 2px 2px 0px;
  }

}
