@import "config";

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  height: 100%;
}

body
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $black;
  color: $white;
  height: 100%;
  overflow: hidden;
  padding: 1rem;
}

ul
{
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p
{
  letter-spacing: 0.5px;
}

h1
{
  font-family: Avenir Black;
  font-size: 40px;
  line-height: 50px;
}

h2
{
  font-family: Poppins Extra Light;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.5px;
}

h3
{
  font-family: Avenir Book;
  line-height: 33px;
  font-size: 20px;
  letter-spacing: 0.5px;
}

h4
{
  font-family: Poppins Extra Light;
  font-size: 15px;
}

p
{
  font-family: Avenir Book;
  line-height: 20px;
  font-size: 16px;
}

.recent-work p {
  font-family: Poppins Extra Light;
  font-size: 16px;
}

.biography p
{
  font-size: 24px;
  font-weight: 500;
  line-height: 2.1rem;
}

a
{
  color: $white;
  text-decoration: none;
  font-family: Poppins Extra Light;
  color: inherit;

  &:hover
  {
    text-decoration: line-through $alt-color 1px;
  }
}

i
{
  font-size: 16px;

  &:hover
  {
    color: $alt-color;
  }
}
