/* media query for tablet */
@media(min-width: 750px)
{

  body
  {
    height: 100vh;
    width: 100vw;
  }

  main
  {
    display: grid;
    grid-template-columns: 2.8fr 1fr;
  }

  h3
  {
    font-family: Avenir Book;
    line-height: 33px;
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  .container
  {
    display: grid;
    grid-template-areas: 'navbar' 'biography experience' 'footer';
  }

  .navbar
  {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 6fr 3fr 1fr;
    align-items: center;

    ul
    {
      display: flex;
    }

    li
    {
      padding: 0.75rem;
    }
  }

  .biography p
  {
    line-height: 3rem;
    font-size: 35px;
  }

  .experience
  {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .article,
  .job
  {
    padding: 1rem 0;
  }

  .socials,
  .experience,
  .pages
  {
    display: flex;
  }

  .menu-wrap,
  .toggler
  {
    display: none !important;
  }

  #services-page .services-grid
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    padding-top: 1.5rem;

    p {
      font-size: 15px;
    }
  
    h3 {
      font-size: 22px;
    }
  }

  #blog-page .blog-grid
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
}

/* media query for desktop */
@media(min-width: 1000px)
{
  #services-page .services-grid
  {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0rem;
  }

  #blog-page .blog-grid
  {
    grid-template-columns: 1fr 1fr 1fr;
    // padding-top: 2rem;
  }
}
